@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Navbar */
.dropdown-menu-close{
    display: none;
}

.drop-down{
    background: var(--header-bg);
    border: 2px solid var(--font-color);
}


/*Section3*/
.section3{
    padding: 10px;
    margin: 10% 20%;
}

.mainTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.belowTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    min-height: 20rem;
    min-width: 15rem;
}

.item img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    pointer-events: none;
}

.inner-carousel {
    display: flex;
}

.carousel{
    cursor: grab;
    overflow: hidden;
}

.arrow{
    display: flex;
}



/*Section4*/
.section4 {
    padding: 5px;
    margin: 10% 20%;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipper-container{
    position:relative;
    margin:35px auto;
    perspective:1000;
    width:450px;
    height:300px;
}

.nft{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip{
    height:100%;
    width:100%;
    transform-style:preserve-3d;
    transition:all 1s;
}
.flipper-container:hover .flip{
    transform:rotateY(180deg);
}
.face{
    position:absolute;
    height:100%;
    width:100%;
    backface-visibility:hidden;
}
.face.back {
    transform: rotateY(180deg);
    text-align: center;
}
.back h2{
    padding:70px 0px;
    font-family:Pacifico;
    letter-spacing:1px;
    font-size:30px;
}
  
/* Section 5 */

.section5 {
    padding: 5px;
    margin: 10% 20%;
    font-family: 'Roboto Mono', monospace;
    height: 100%;
}

.Arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra-bold {
    text-emphasis-color: "-webkit-linear-gradient(45deg, rgba(232, 248, 248, 1), rgba(100, 227, 227, 1), rgba(224, 100, 227, 1))";
}

/* Section 6 */
.section6 {
    padding: 1px;
    margin: 10% 20%;
}

/* Section 7 */
.section7 {
    padding: 10%;
}

.contains{
    background: #06070a;
    box-sizing: border-contains;
    overflow: hidden;
    box-shadow: 0 20px 50px #71e5e5;
    border: 2px solid #94b1e3;
    color: white;
    padding: 20px;
    border-radius: 30px;
    font-family: "Poppins, sans-serif";
    font-size: 1.2rem;
}
.row-item{
    margin-left: 2px;
}
.rows {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.row-item {
    min-width: 20rem;
}


/* Community */

.section8{
    background: linear-gradient(180deg, rgba(6,7,10,1) 0%, rgba(6,7,10,1) 72%, rgba(75,113,97,1) 93%, rgba(92,164,131,1) 100%);
    box-shadow: "#06070a";
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 30px;
    border: 1px solid #719c96;
    border-top: none;
}

/* Create Community Form */
/* Section9 */
.section9{
    display: flex;
    margin: 60px;
    padding: 60px;
    flex-direction: column;
    border: 3px solid;
    border-image: 
    linear-gradient(
      to bottom, 
      #4f7d69, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    font-family: "Poppins, sans-serrif";
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.section9-heading{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-heading{
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}
.banner{
  max-height: 10%;
  width: 20%;
  padding: 20px;
}
.form-steps{
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}
.img-section{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #2b9392;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px #2b9392;
    margin-left: 10%;
}
.img-data{
    font-size: 20px;
    font-family: '', monospace;
    color: #37574a; 
}
.third-part{
    border: none;
}
.inside{
    padding-left: 8px;
}
.form-boxes{
    border: 1px solid #2b9392;
    border-radius: 20px;
    background-color: #06070a;
    margin-left: 10%;
    size: 100%;
    width: 30rem;
    box-shadow: 0 0 10px 1px #2b9392;
    color: whitesmoke;
}
.box-height{
    height: 5rem;
}
.final-button{
    width: 130.55px;
    height: 40px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 13px;
    padding-right: 12.55px; 
    border-radius: 8px;
    border-left: '0.50px rgba(168, 240, 230, 0.60) solid'; 
    border-top: '0.50px rgba(168, 240, 230, 0.60) solid';
    border-right: '0.50px rgba(168, 240, 230, 0.60) solid';
    border-bottom: '0.50px rgba(168, 240, 230, 0.60) solid';
    justify-content: 'flex-start';
    align-items: 'flex-start';
    color: "#a8f0cb";
    background: "#06070a";
    margin-left: 10%;
}

/* Add Blog Form */
/* Section10 */
.section10{
    display: flex;
    margin: 60px;
    padding: 60px;
    flex-direction: column;
    border: 3px solid;
    border-image: 
    linear-gradient(
      to bottom, 
      #4f7d69, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    font-family: "Poppins, sans-serrif";
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.add-blog{
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins, sans-serrif";
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.inputfile{
    display: flex;
    flex-direction: column;
}
.boxItems{
    margin: 3rem;
}
.form-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2rem;
}
.file-input{
    border: 1px solid #2b9392;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    width: 408px;
    height: 108px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.8;
}
.title-input{
    border: 1px solid #2b9392;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    width: 408px;
    height: 50px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.8;
}
.description-content{
    border: 1px solid #2b9392;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    width: 408px;
    height: 80px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.8;
}
.author-content{
    border: 1px solid #2b9392;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    width: 408px;
    height: 50px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.8;
}
#blog-content{
    border: 1px solid #2b9392;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    width: 408px;
    height: 300px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.8;
}

/* Section11 */
.section11{
    display: flex;
    justify-content: center;
    align-items: center;
}
.singlePage {
    padding: 50px 0;
  }
  .singlePage .right {
    margin-top: 30px;
    
  }
  .singlePage img {
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #2b9392;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    width: 408px;
    height: 300px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.8;

  }
  .singlePage h1 {
    font-size: 30px;
    font-weight: 500;
  }
  .singlePage p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 2;
    text-transform: capitalize;
  }
  .singlePage .buttons {
    display: flex;
    justify-content: flex-end;
  }

  /* Blog */
  .trip{
    margin: 4rem 6rem;
    color: white;
  }
  .trip h1{
    font-size: 3rem;
  }
  .blog{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
  }
  .blog-card{
    width: 30%;
    text-align: start;
    box-shadow: 0 5px 25px 2px #58a796;
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem 0.8rem;
    border: 1px solid #58a796;
  }
  .card-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blog-image{
    height: 200px;
    overflow: hidden;
    border-radius: 7px;  
  }
  .blog-image img{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
  }
  .blog-image:hover img{
    transform: scale(1.3);
  }
  .blog-card h4{
    font-size: 1.3rem;
    padding: 0.9rem 0 0.2rem 0;
  }

  @media screen and (max-width: 850px){
    .trip{
        margin: 4rem 2rem;
    }
    .blog{
        flex-direction: column;
    }
    .blog-card{
        width: 100%;
        margin-bottom: 1.5rem;
    }
  }

  /* Headline */
  .headline{
    display: flex;
  }
  .text-headline{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .sample-para{
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Navlist */
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: rgb(204, 204, 204);
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: rgba( 71, 229, 188, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 30px;
    width: 50%;
  }
  .nav__brand {
    text-transform: uppercase;
  }
  
  .nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }
  .nav__toggler {
    display: none;
  }
  .nav__toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: rgb(204, 204, 204);
    transition: 0.3s ease-in;
  }
  
  @media screen and (max-width: 768px) {
    .nav__toggler {
      display: block;
      cursor: pointer;
    }
    .nav__menu {
      position: fixed;
      top: 7vh;
      right: 0;
      height: 93vh;
      width: 50vw;
      background: #58a796;
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s ease-in;
    }
  }
  .nav__active {
    transform: translateX(0%);
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }
