@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

/* Navbar */
.dropdown-menu-close{
    display: none;
}

.drop-down{
    background: var(--header-bg);
    border: 2px solid var(--font-color);
}


/*Section3*/
.section3{
    padding: 10px;
    margin: 10% 20%;
}

.mainTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.belowTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    min-height: 20rem;
    min-width: 15rem;
}

.item img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    pointer-events: none;
}

.inner-carousel {
    display: flex;
}

.carousel{
    cursor: grab;
    overflow: hidden;
}

.arrow{
    display: flex;
}



/*Section4*/
.section4 {
    padding: 5px;
    margin: 10% 20%;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipper-container{
    position:relative;
    margin:35px auto;
    perspective:1000;
    width:450px;
    height:300px;
}

.nft{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip{
    height:100%;
    width:100%;
    transform-style:preserve-3d;
    transition:all 1s;
}
.flipper-container:hover .flip{
    transform:rotateY(180deg);
}
.face{
    position:absolute;
    height:100%;
    width:100%;
    backface-visibility:hidden;
}
.face.back {
    transform: rotateY(180deg);
    text-align: center;
}
.back h2{
    padding:70px 0px;
    font-family:Pacifico;
    letter-spacing:1px;
    font-size:30px;
}
  
/* Section 5 */

.section5 {
    padding: 5px;
    margin: 10% 20%;
    font-family: 'Roboto Mono', monospace;
    height: 100%;
}

.Arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra-bold {
    text-emphasis-color: "-webkit-linear-gradient(45deg, rgba(232, 248, 248, 1), rgba(100, 227, 227, 1), rgba(224, 100, 227, 1))";
}

/* Section 6 */
.section6 {
    padding: 1px;
    margin: 10% 20%;
}

/* Section 7 */
.section7 {
    padding: 10%;
}

.contains{
    background: #06070a;
    box-sizing: border-contains;
    overflow: hidden;
    box-shadow: 0 20px 50px #71e5e5;
    border: 2px solid #94b1e3;
    color: white;
    padding: 20px;
    border-radius: 30px;
    font-family: "Poppins, sans-serif";
    font-size: 1.2rem;
}
.row-item{
    margin-left: 2px;
}
.rows {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.row-item {
    min-width: 20rem;
}


/* Community */

.section8{
    background: linear-gradient(180deg, rgba(6,7,10,1) 0%, rgba(6,7,10,1) 72%, rgba(75,113,97,1) 93%, rgba(92,164,131,1) 100%);
    box-shadow: "#06070a";
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 30px;
    border: 1px solid #719c96;
    border-top: none;
}

/* Create Community Form */
/* Section9 */
.section9 {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    font-family: "Poppins, sans-serif";
}
.inner-box{
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, rgba(6,7,10,1) 0%, rgba(6,7,10,1) 72%, rgba(75,113,97,1) 93%, rgba(92,164,131,1) 100%);
    box-shadow: "#06070a";
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 30px;
    border: 1px solid #719c96;
    border-top: none;
    border-radius: 30px;
}
.heading-box{
    margin-bottom: 2rem;
}
.form-heading{
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: "Poppins, sans-serif";
    font-size: 90.386px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.form-subheading{
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: "Poppins, sans-serif";
    font-size: 70.386px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.part-one{
    display: flex;
    justify-content: center; 
}
.subpart-1{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.one-heading{
    color: white;
    padding-left: 2rem;
}
.subsubpart-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.preview-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 7rem;
}
.label-section{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    width: 408px;
    height: 308px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.8;
    background: #141414;
}
.banner{
    border-radius: 16px;
}
.hidden{
    display: none;
}
.com{
    display: flex;
    flex-direction: column;
}
.label-com{
    color: #ccc;
    font-size: 14px;
    margin-bottom: 3rem;
    color: red;
}
.name-input{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    width: 408px;
    height: 88px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.8;
    background: #141414;
    color: white;
}
.desc{
    display: flex;
    flex-direction: column;
}
.description-label{
    color: #ccc;
    font-size: 14px;
    margin-bottom: 3rem;
}
.description-textarea{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    width: 408px;
    height: 108px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.8;
    background: #141414;
}
.preview-section{
    width: 50%;
    max-width: 100%;
    margin-bottom: 7rem;
}
.text-white{
    color: white;
}
.nope{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: -webkit-linear-gradient(#97FEED, #35A29F, #0B666A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    width: 408px;
    height: 108px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.8;
    background: #141414;
}
.nope-two{
    height: 48px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.image-under{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.image-under-under{
    border-radius: 16px;
}
.disp{
    padding: 3px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #ccc;
    margin-top: 3rem;
    position: static;
}
.inner-name{
    font-weight: bold;
    font-size: 18px;
}
.inner-desc{
    font-size: 14px;
    margin-top: 3rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: red;
    margin-bottom: 12rem
}
.mem{
    text-align: center;
    font-size: 14px;
    margin-top: 5rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    color: #008000;
    border-radius: 30%;
    padding: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #222;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.final-button{

}

/* Add Blog Form */
/* Section10 */
.section10{
    background: linear-gradient(180deg, rgba(6,7,10,1) 0%, rgba(6,7,10,1) 72%, rgba(75,113,97,1) 93%, rgba(92,164,131,1) 100%);
    box-shadow: "#06070a";
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 30px;
    border: 1px solid #719c96;
    border-top: none;
}

/* Section11 */
.section11{
    display: flex;
    justify-content: center;
    align-items: center;
}
.singlePage {
    padding: 50px 0;
  }
  .singlePage .right {
    margin-top: 30px;
  }
  .singlePage img {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

  }
  .singlePage h1 {
    font-size: 30px;
    font-weight: 500;
  }
  .singlePage p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 2;
    text-transform: capitalize;
  }
  .singlePage .buttons {
    display: flex;
    justify-content: flex-end;
  }
  .singlePage .button {
    margin-left: 20px;
    border: none;
  }
  .singlePage .button:nth-child(1) {
    background: #10ac84;
  }
  .singlePage .button:nth-child(2) {
    background: #ee5253;
  }
  