annotated-types
anyio
blinker
click
Flask
gunicorn
h11
httptools
idna
itsdangerous
Jinja2
MarkupSafe
pydantic
pydantic_core
python-dotenv
PyYAML
sniffio
starlette
typing_extensions
uvloop
watchfiles
websockets
Werkzeug
